<?xml version="1.0" encoding="UTF-8" ?>
<registry name="BackupAndRecovery">
	<key name="CommonComponents">
		<value name="account_server_client.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/libaccount_server_client.so"</value>
		<value name="archive3.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/libarchive3.so"</value>
		<value name="archive3_adapter.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/libarchive3_adapter.so"</value>
		<value name="archive_mount_helper.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/libarchive_mount_helper.so"</value>
		<value name="async_service.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/libasync_service.so"</value>
		<value name="asyncipc.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/libasyncipc.so"</value>
		<value name="boot_assist.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/libboot_assist.so"</value>
		<value name="core_workers_shared_context.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/libcore_workers_shared_context.so"</value>
		<value name="counters.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/libcounters.so"</value>
		<value name="curl.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/libcurl.so"</value>
		<value name="dml.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/libdml.so"</value>
		<value name="dml_sqlite_addon.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/libdml_sqlite_addon.so"</value>
		<value name="expat.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/libexpat.so"</value>
		<value name="file_backup.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/libfile_backup.so"</value>
		<value name="http.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/libhttp.so"</value>
		<value name="icu38.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/libicu38.so"</value>
		<value name="ipc_client.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/libipc_client.so"</value>
		<value name="ipc_server.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/libipc_server.so"</value>
		<value name="libcrypto10.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/liblibcrypto10.so"</value>
		<value name="libevent.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/liblibevent.so"</value>
		<value name="libsmtp.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/liblibsmtp.so"</value>
		<value name="libssl10.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/liblibssl10.so"</value>
		<value name="libunwind.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/libunwind.so"</value>
		<value name="logging.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/liblogging.so"</value>
		<value name="mspack.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/libmspack.so"</value>
		<value name="onig.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/libonig.so"</value>
		<value name="pcs_io.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/libpcs_io.so"</value>
		<value name="por.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/libpor.so"</value>
		<value name="remote_facade.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/libremote_facade.so"</value>
		<value name="resource.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/libresource.so"</value>
		<value name="security_core.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/libsecurity_core.so"</value>
		<value name="settings.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/libsettings.so"</value>
		<value name="sqlite3.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/libsqlite3.so"</value>
		<value name="thread_pool.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/libthread_pool.so"</value>
		<value name="tm_client.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/libtm_client.so"</value>
		<value name="ulxmlrpcpp.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/libulxmlrpcpp.so"</value>
		<value name="zstd.dll" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/libzstd.so"</value>
		<key name="ServiceProcess">
			<key name="Settings">
				<value name="ServiceProcessPipeVersion" type="TString">"3"</value>
				<value name="ServiceProcessProtocolVersion" type="TString">"2"</value>
				<value name="ShutdownTimeout" type="Tdword">"270000"</value>
				<value name="service_process.exe" type="TString">"/usr/lib/Acronis/BackupAndRecovery/service_process"</value>
			</key>
		</key>
	</key>
	<key name="ProductInformation" />
	<key name="ServiceProcess">
		<key name="Settings">
			<value name="AutoCreateDump" type="Tdword">"1"</value>
		</key>
	</key>
	<key name="Settings">
		<value name="AutoCreateDump" type="Tdword">"1"</value>
		<value name="CachedHostName" type="TString">"x00301802bf84"</value>
		<value name="CachedMachineName" type="TString">"x00301802bf84"</value>
		<value name="MMSDirPath" type="TString">"/usr/lib/Acronis/BackupAndRecovery/"</value>
		<value name="MMSHttpPort" type="TString">"43234"</value>
		<value name="MMSPipeVersion" type="TString">"3"</value>
		<value name="MMSProtocolVersion" type="TString">"2"</value>
		<value name="MmsDmlDbProtocol" type="TString">"sqlite-v2:///var/lib/Acronis/BackupAndRecovery/MMSData/DML/F4CEEE47-042C-4828-95A0-DE44EC267A28.db3#limit_statement_cache"</value>
		<value name="SystemInfoPath" type="TString">"/usr/lib/Acronis/BackupAndRecovery/systeminfo"</value>
		<value name="SystemInfoPyPath" type="TString">"/usr/lib/Acronis/BackupAndRecovery/sysinfo.py"</value>
		<value name="WorkingDir" type="TString">"/usr/lib/Acronis/BackupAndRecoveryAgent/"</value>
		<key name="CurlOptions">
			<value name="CACertificatesLocation" type="TString">"/var/lib/Acronis/CurlCaCertificates/cert_bundle.pem"</value>
			<value name="VerifyHost" type="Tdword">"0"</value>
			<value name="VerifyPeer" type="Tdword">"1"</value>
		</key>
		<key name="LicenseManager">
			<value name="LicenseHolderID" type="TString">"6E55F9C3-1269-4AE7-AB24-03A7158C0C0F"</value>
		</key>
		<key name="LogManager">
			<value name="ShowDumpLogs" type="TString">""</value>
		</key>
		<key name="MachineManager">
			<value name="AmsHost" type="TString">""</value>
			<value name="InstanceID" type="TString">"DC08490A-BC02-45A2-AD9D-00D8AA728295"</value>
			<value name="MMSCurrentMachineID" type="TString">"05A593EE-F3F9-46A3-97E2-1EE726E00A20"</value>
			<key name="AgentInfo">
				<value name="*" type="TString">""</value>
				<key name="{BA262882-C484-479A-8D07-B0EAC55CE27B}">
					<value name="DisplayName" type="TString">"Agent for Linux (64-bit)"</value>
					<value name="Version" type="TString">"12.5.12960"</value>
				</key>
			</key>
		</key>
		<key name="OnlineBackup">
			<key name="Cfg">
				<key name="Rpc">
					<value name="Uri" type="TString">"https://us5-cloud.acronis.com:443/api/1/rpc/"</value>
					<key name="Proxy" />
				</key>
			</key>
			<key name="FesAddressCache">
				<key name="Default">
					<key name="avlinksupport">
						<value name="FesUri" type="TString">"baas-fes-us6-acs2.acronis.com:44445"</value>
					</key>
				</key>
			</key>
		</key>
		<key name="Webcp">
			<value name="EnableBackupForAll" type="TString">"No"</value>
			<value name="EnableWebcp" type="TString">"No"</value>
			<value name="RunBackupForAll" type="TString">"No"</value>
		</key>
	</key>
</registry>
