<?xml version="1.0" encoding="UTF-8" ?>
<registry name="MediaBuilder">
	<value name="SourceDir" type="TString">"/usr/lib/Acronis/MediaBuilder/"</value>
	<key name="Products">
		<value name="BootableAgentMSPBuilderConfig64" type="TString">"/usr/lib/Acronis/BackupAndRecoveryAgent/bootagent_msp64.config"</value>
	</key>
</registry>
