<?xml version="1.0" encoding="UTF-8" ?>
<registry name="MMS">
	<key name="Configuration">
		<key name="Aaib">
			<value name="WorkingDirectory" type="TString">"[CommonAppDataFolder]Acronis\BackupAndRecovery\AaibWorkingDirectory\"</value>
		</key>
		<key name="DiskManagement">
			<value name="LoadLocalComputer" type="Tdword">"1"</value>
		</key>
		<key name="General">
			<key name="ActivityRetention">
				<value name="MaxActivitiesCount" type="TString">"2000"</value>
			</key>
			<key name="EventTrace">
				<key name="Snmp">
					<value name="Address" type="TString">""</value>
					<value name="Community" type="TString">"public"</value>
					<key name="CommonTrace">
						<value name="TraceLevel" type="TString">"4"</value>
						<value name="TraceState" type="TString">"0"</value>
					</key>
				</key>
				<key name="WindowsEventLog">
					<value name="TraceLevel" type="TString">"4"</value>
					<value name="TraceState" type="TString">"0"</value>
				</key>
			</key>
			<key name="LogCleanupRules">
				<value name="MaxSize" type="TString">"51200"</value>
				<value name="PercentageToKeep" type="TString">"95"</value>
			</key>
		</key>
		<key name="License">
			<value name="LicenseCheckInterval" type="TString">"1"</value>
			<value name="LicenseServerAddress" type="TString" />
			<value name="LicenseServerConnectionRetryInterval" type="TString">"1"</value>
			<value name="MaxTimeWithoutLicenseServer" type="TString">"30"</value>
		</key>
		<key name="Protection">
			<key name="Backup">
				<key name="DiskBackup">
					<value name="CacheFSMeta" type="Tdword">"0"</value>
				</key>
				<key name="Scheduling">
					<value name="Type" type="TString">"2"</value>
					<key name="DistributedByTimeConfiguration">
						<value name="PeriodType" type="TString">"2"</value>
						<value name="Value" type="TString">"30"</value>
					</key>
				</key>
				<key name="SnapshotStorage">
					<value name="AbsoluteSize" type="TString">"0"</value>
					<value name="CacheDriveMinimumFreeSpaceBytes" type="TString">"-1"</value>
					<value name="RelativeSize" type="TString">"20"</value>
					<value name="StoragePath" type="TString">""</value>
				</key>
				<key name="Volumes">
					<value name="UseVolumeShadowService" type="Tdword">"1"</value>
					<value name="UseVssFlags" type="Tdword">"16"</value>
				</key>
			</key>
		</key>
	</key>
</registry>
