<?xml version="1.0" encoding="UTF-8" ?>
<registry name="PyShell">
	<value name="executable" type="TString">"/usr/lib/Acronis/PyShell/python"</value>
	<key name="commands">
		<value name="auto_update" type="TString">"/usr/lib/Acronis/PyTools/commands/auto_update.py"</value>
		<value name="protect" type="TString">"/usr/lib/Acronis/PyTools/commands/protect.py"</value>
		<value name="retention" type="TString">"/usr/lib/Acronis/PyTools/commands/retention.py"</value>
		<value name="run_tool" type="TString">"/usr/lib/Acronis/PyTools/commands/run_tool.py"</value>
		<value name="staging" type="TString">"/usr/lib/Acronis/PyTools/commands/staging.py"</value>
	</key>
</registry>
