<?xml version="1.0" encoding="UTF-8" ?>
<registry name="Schedule2">
	<value name="LogLevel" type="TString">"101"</value>
	<key name="Admins">
		<value name="MMS" type="TString">""</value>
	</key>
	<key name="Substitute">
		<value name="Activator" type="TString">"/usr/lib/Acronis/BackupAndRecovery/Common/act"</value>
	</key>
</registry>
