<?xml version="1.0" encoding="UTF-8" ?>
<registry name="UniversalRestore">
	<value name="DriversPackPath" type="TString">"/usr/lib/Acronis/UniversalRestoreDir/DriversPack/"</value>
	<value name="hwdb.txt" type="TString">"/usr/lib/Acronis/UniversalRestoreDir/hwdb.txt"</value>
	<value name="pci.ids" type="TString">"/usr/lib/Acronis/UniversalRestoreDir/pci.ids"</value>
</registry>
