<?xml version="1.0" encoding="UTF-8" ?>
<registry name="VirtualWare">
	<key name="MSVirtualPC">
		<value name="IsServer" type="TString">"1"</value>
		<value name="Path" type="TString">"/usr/lib/Acronis/VirtualWare/libmsvpc_wst.so"</value>
		<value name="Type" type="TString">"7"</value>
	</key>
	<key name="RedHatKVM">
		<value name="IsServer" type="TString">"1"</value>
		<value name="Path" type="TString">"/usr/lib/Acronis/VirtualWare/libkvm.so"</value>
		<value name="Type" type="TString">"17"</value>
	</key>
	<key name="RhevServer">
		<value name="IsServer" type="TString">"1"</value>
		<value name="Path" type="TString">"/usr/lib/Acronis/VirtualWare/libkvm.so"</value>
		<value name="Type" type="TString">"18"</value>
	</key>
	<key name="VMWareWorkstation">
		<value name="IsServer" type="TString">"1"</value>
		<value name="Path" type="TString">"/usr/lib/Acronis/VirtualWare/libvmware_srv.so"</value>
		<value name="Type" type="TString">"1"</value>
	</key>
</registry>
